.row > div > img {
  width: 30%;
}
.map {
  width: 30vh;
  height: 20vh;
}
  h1 {
  color: #AA692F;
 }
  #splashscreen, #principal {
    height: 100vh;
  }

  #filtered {
    width: 50%;
   }

  /*Estilos del modal de la información de los de los restaurantes*/
 #img-restaurant {
   width: 40%;
 }
